Package: change-background-dev
Source: change-background
Version: 0.0.1~rc1
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 94
Depends: change-background (= 0.0.1~rc1), kurento-module-core-dev, kurento-module-elements-dev, kurento-module-filters-dev
Section: libdevel
Priority: optional
Homepage: https://www.example.com/
Description: <Up to 60 chars single line summary> (development files)
 <Long description over several lines, indented with space>.
